<div class="card-deck mb-3 text-center">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h4 class="card-title">{{user.name}}</h4>
                <p class="card-text">{{user.email}}</p>
                <div type="button" class="btn btn-info" data-toggle="collapse" attr.data-target="#{{user.username}}">See More</div>
                <div id="{{user.username}}" class="collapse">
                    <h4 class="card-title">{{user.username}}</h4>
                    <h4 class="card-title">{{user.address.street}} ,{{user.address.suite}},{{user.address.city}},{{user.address.zipcode}}, {{user.address.geo.lat}}: {{user.address.geo.lng}} </h4>
                    <h4 class="card-title">{{user.phone}}</h4>
                    <h4 class="card-title">{{user.website}}</h4>
                    <h4 class="card-title">company info </h4>
                    <h4 class="card-title"> name{{user.company.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<h4> Posts </h4>
<div class="card-deck mb-3 text-center">
    <div class="col-md-4" *ngFor="let post of postsById">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                <div type="button" class="btn btn-info" data-toggle="collapse" attr.data-target="#t{{post.id}}">See More</div>
                <div id="t{{post.id}}" class="collapse">
                    <h4 class="card-title">{{post.body}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h1 class="display-4">todos Name</h1>
        <div class="list-group" id="list-tab" role="tablist">
            <a *ngFor="let todo of todos ; let i = index" class="list-group-item list-group-item-action" (click)="putTodo(todo, i)" data-toggle="list" role="tab">{{todo.title}},{{todo.completed}}</a>
        </div>
    </div>

</div>